@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(../fonts/opensans/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/opensans/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(../fonts/opensans/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: local('Signika'), local('Signika-Regular'), url(../fonts/signika/q41y_9MUP_N8ipOH4ORRvw.woff2) format('woff2'), url(../fonts/signika/_M5k9_BZTkfaM2dnN0vNGw.woff) format('woff');
}
@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 700;
  src: local('Signika-Bold'), url(../fonts/signika/7M5kxD4eGxuhgFaIk95pBfk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(../fonts/signika/7M5kxD4eGxuhgFaIk95pBRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
.top-offset {
  margin-top: 10px;
}
.btn-group-separated .btn {
  margin-left: 5px;
  margin-right: 5px;
}
.panel > h2 {
  margin-bottom: 20px;
}
.btns-top-table {
  margin-bottom: 10px;
}
.table {
  margin-bottom: 10px;
}
.alert .close {
  font-size: 14px;
}
.alert .close > .fa {
  font-size: 16px;
}
.fa-form-control {
  height: 34px;
  line-height: 34px;
}
.form-group-lg .form-control-icon,
.form-control-icon {
  position: relative;
}
.form-group-lg .form-control-icon > .fa,
.form-control-icon > .fa {
  display: block;
  position: absolute;
  font-size: 16px;
  width: 16px;
  margin: 9px 2px 4px 10px;
  text-align: center;
}
.form-group-lg .form-control-icon > input,
.form-control-icon > input {
  padding-left: 30px;
}
.form-group-lg .form-control-icon > .fa {
  font-size: 20px;
  width: 20px;
  margin: 12px 2px 4px 10px;
}
.form-group-lg .form-control-icon > input {
  padding-left: 35px;
}
.dataTables_wrapper div.dataTables_paginate {
  padding: 0;
}
.dataTables_wrapper div.dataTables_paginate .paginate_button {
  padding: 0;
}
.dataTables_wrapper div.dataTables_paginate .paginate_button:hover {
  border: 1px solid transparent;
  background: none;
}
.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 0;
}
.dataTables_wrapper div.dataTables_paginate ul.pagination > .disabled > a,
.dataTables_wrapper div.dataTables_paginate ul.pagination > .disabled > a:focus,
.dataTables_wrapper div.dataTables_paginate ul.pagination > .disabled > a:hover,
.dataTables_wrapper div.dataTables_paginate ul.pagination > .disabled > span,
.dataTables_wrapper div.dataTables_paginate ul.pagination > .disabled > span:focus,
.dataTables_wrapper div.dataTables_paginate ul.pagination > .disabled > span:hover {
  color: #bebebe;
}
body {
  font-family: 'Open Sans', Tahoma, Arial, sans-serif;
  background-color: #f3f3f3;
}
#wrapper {
  width: 100%;
  background: #202020;
}
#page-wrapper {
  padding: 15px 15px;
  background: #f3f3f3;
}
#page-wrapper-nomenu {
  padding: 15px 15px;
  background: #f3f3f3;
}
.page-inner {
  width: 100%;
  margin: 10px 20px 10px 0px;
  background-color: #fff!important;
  padding: 10px;
  min-height: 600px;
}
.text-center {
  text-align: center;
}
.no-boder {
  border: 1px solid #f3f3f3;
}
h2 {
  font-family: 'Signika', Tahoma, Arial, sans-serif;
  color: #f00;
}
h4 {
  padding-top: 10px;
}
.square-btn-adjust {
  border: 0px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
p {
  font-size: 16px;
  line-height: 25px;
  padding-top: 20px;
}
.panel-back {
  background-color: #F8F8F8;
}
.noti-box {
  min-height: 100px;
  padding: 20px;
}
.noti-box .icon-box {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.text-box p {
  margin: 0 0 3px;
}
.main-text {
  font-size: 25px;
  font-weight: 600;
}
.set-icon {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.bg-color-green {
  background-color: #00CE6F;
  color: #fff;
}
.bg-color-blue {
  background-color: #A95DF0;
  color: #fff;
}
.bg-color-red {
  background-color: #DB0630;
  color: #fff;
}
.bg-color-brown {
  background-color: #B94A00;
  color: #fff;
}
.icon-box-right {
  display: block;
  float: right;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}
.main-temp-back {
  background: #8702A8;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.main-temp-back .text-temp {
  font-size: 40px;
}
.back-dash {
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color: #2EA7EB;
  color: #fff;
}
.back-dash p {
  padding-top: 16px;
  font-size: 13px;
  color: #fff;
  line-height: 25px;
  text-align: justify;
}
.back-footer-green {
  background-color: #009B50;
  border-top: 0px solid #fff;
}
.back-footer-red {
  background-color: #AF0000;
  border-top: 0px solid #fff;
}
.color-bottom-txt {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}
/*CHAT PANEL*/
.chat-panel .panel-body {
  height: 450px;
  overflow-y: scroll;
}
.chat-box {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-box li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
  margin-left: 90px;
}
.chat-box li .chat-body p {
  margin: 0;
  color: #8d8888;
}
.chat-img > img {
  margin-left: 20px;
}
.user-image {
  margin: 20px auto;
  padding: 5px;
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-width: 90%;
}
.navbar-cls-top .navbar-brand {
  font-family: 'Signika', Tahoma, Arial, sans-serif;
  color: #fff;
  background: #c90000;
  width: 260px;
  text-align: center;
  height: 60px;
  font-size: 30px;
  font-weight: 700;
}
.active-menu {
  background-color: #c90000 !important;
}
.arrow {
  float: right;
}
.fa.arrow:before {
  content: "\f104";
}
.active > a > .fa.arrow:before {
  content: "\f107";
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding-left: 37px;
}
.nav-third-level li a {
  padding-left: 55px;
}
.sidebar-collapse,
.sidebar-collapse .nav {
  background: none;
}
.sidebar-collapse .nav {
  padding: 0;
}
.sidebar-collapse .nav > li > a {
  color: #fff;
  background: #202020;
  text-shadow: none;
}
.sidebar-collapse > .nav > li > a {
  padding: 15px 10px;
}
.sidebar-collapse > .nav > li {
  border-bottom: 1px solid rgba(107, 108, 109, 0.19);
}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
  background: #0A0A0A;
  outline: 0;
}
.nav-second-level > li > a:before,
.nav-third-level > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 15px;
  height: 1px;
  background: #ff0000;
  top: 20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 1px;
  height: 100%;
  background: #ff0000;
  top: 0px;
  z-index: 10;
}
.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
  height: 50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
  left: 40px;
}
.navbar-side {
  border: none;
  background-color: #202020;
}
.navbar-cls-top {
  background: #4d4d4d;
  border-bottom: none;
}
.navbar-cls-top .navbar-brand:hover {
  background: #c90000;
  color: #fff;
}
.navbar-default {
  border: 0px solid black;
}
.navbar-header {
  background: #a70303;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #B40101;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.nav > li > a > i {
  margin-right: 10px;
}
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
@media (min-width: 768px) {
  #page-wrapper {
    margin: 0 0 0 260px;
    padding: 15px 30px;
  }
  #page-wrapper-nomenu {
    margin: 0;
    padding: 15px 50px;
  }
  #page-wrapper-nomenu > .page-inner {
    margin: 0 auto;
  }
  .navbar-side {
    z-index: 1;
    position: absolute;
    width: 260px;
  }
  .navbar {
    border-radius: 0px;
  }
}
.ajaxLoading {
  position: relative;
}
.carregando {
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  -webkit-opacity: 0.75;
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
  filter: alpha(opacity=75);
  transition: all 1s;
}
.carregando > .fa {
  text-align: center;
  margin-top: 5px;
  color: #337ab7;
}
.carregando > .span {
  color: black;
  font-weight: bold;
  line-height: 2em;
}
.carregando.ok {
  background: #009B50;
}
.carregando.ok > .fa {
  display: none;
}
/*# sourceMappingURL=custom.css.map */