<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head></head>
    <body>
        <div th:fragment="content">
            <script type="text/javascript">
                var dataTableOpts = {
                    'order': [[2, 'asc']],
                    'columnDefs': [ {
                        'targets': [0, -1, -2],
                        'orderable': false,
                        'searchable': false
                    } ],
                };
            </script>
            <h2 th:text="${titulo}"></h2>
            <div th:replace="fragments/list :: btnsTopTable"></div>
            <table class="dataTable table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-button-header">Detalhes</th>
                        <th>Referência</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th class="text-right">Custo total</th>
                        <th class="col-button-header">Editar</th>
                        <th class="col-button-header">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="documento : ${lista}" th:object="${documento}">
                        <td class="col-button text-center">
                            <a th:href="@{${URL_MVC} + '/' + *{id} + '/detalhes'}">
                                <i class="fa fa-file-text"></i> Ver detalhes
                            </a>
                        </td>
                        <td th:text="*{referencia}"></td>
                        <td th:text="*{nome}"></td>
                        <td th:text="*{(categoria != null) ? (categoria.nome) : ''}"></td>
                        <td class="text-right" th:text="*{{getCustoTotal()}}"></td>
                        <td class="col-button text-center">
                            <a th:href="@{${URL_MVC} + '/' + *{id}}">
                                <i class="fa fa-pencil"></i> Editar
                            </a>
                        </td>
                        <td class="col-button text-center">
                            <a th:href="@{${URL_MVC} + '/' + *{id} + '/delete'}" onclick="return confirm('Deseja realmente excluir este registro?')">
                                <i class="fa fa-trash"></i> Excluir
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
